* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

header {
  background-color: white;
}

.navbar {
  padding-left: 15rem;
  padding-right: 15rem;
}
.navbar .navbar-nav li {
  padding-top: 2rem;
}

.linksBanner {
  margin-top: 20px;
}
.linksBanner a {
  background-color: #039;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

footer {
  background-color: black;
  color: white;
  padding: 2rem 0;
  margin-top: 5rem;
}
footer .divFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4rem 0 2rem 0;
}
footer .divFooter h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}
footer .divFooter ul {
  list-style: none;
  padding: 0;
}
footer .divFooter ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.newsletter-container {
  margin: 2rem 0;
  text-align: center;
}
.newsletter-container .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.newsletter-container .newsletter-form label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.newsletter-container .newsletter-form input {
  padding: 0.7rem;
  width: 80%;
  max-width: 350px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.newsletter-container .newsletter-form button {
  padding: 0.7rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.newsletter-container .newsletter-form button:hover {
  background-color: black;
}

.bannerUnoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 0px;
  padding-right: 30px;
}
.bannerUnoDiv h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
.bannerUnoDiv p {
  text-align: justify;
}
.bannerUnoDiv .bannerUnoParrafo {
  display: flex;
  text-align: center;
}

.carouselSlide {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}
.carouselSlide img {
  width: 100%;
  height: auto;
}

.bannerDos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  padding-left: 0;
  padding-bottom: 2rem;
  padding-right: 0;
}
.bannerDos .bannerDosDiv {
  align-items: center;
  text-align: center;
}
.bannerDos .bannerDosDiv h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 30px;
}
.bannerDos .fotoIndexSeccion2 {
  width: 50vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bannerTres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  padding-right: 5rem;
  flex-wrap: wrap;
  text-align: center;
}
.bannerTres img {
  width: 50vw;
}

.bannerCuatro {
  display: flex;
  text-align: center;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 5rem;
  padding-right: 4rem;
  margin-bottom: 5rem;
}
.bannerCuatro div h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 30px;
}
.bannerCuatro .fotoIndexSeccion4 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.encabezadoDestinos {
  background-image: url(../assets/norteargentinofoto2.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.encabezadoDestinos h1 {
  font-family: "Playfair Display", serif;
}

.seccionDestinosUno {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
}
.seccionDestinosUno .divDestinosSeccionUno {
  text-align: center;
  margin-top: 1rem;
}
.seccionDestinosUno .fotoSeccionDestinosUno {
  width: 100%;
  height: auto;
}

.seccionDestinosDos {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.seccionDestinosDos .divDestinosSeccionUno {
  text-align: center;
  margin-top: 1rem;
}
.seccionDestinosDos .fotoSeccionDestinosUno {
  width: 100%;
  height: auto;
}

.encabezadoSobreTuViaje {
  background-image: url(../assets/excursionfoto.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.encabezadoSobreTuViaje h1 {
  font-family: "Playfair Display", serif;
}

.seccionSobreTuViaje {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
}
.seccionSobreTuViaje .divSeccionSobreTuViaje {
  text-align: center;
  margin-top: 1rem;
}

.encabezadoAcercaDeNosotros {
  background-image: url(../assets/fotodeoficina.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.encabezadoAcercaDeNosotros h1 {
  font-family: "Playfair Display", serif;
}

.seccionUno {
  padding: 3rem;
}
.seccionUno h2 {
  text-align: center;
}

.seccionDos {
  display: flex;
  flex-direction: row;
  padding-right: 3rem;
  padding-left: 4rem;
}
.seccionDos .textoCentrado {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.seccionDosInvertido {
  display: flex;
  flex-direction: row;
  padding-right: 3rem;
  padding-left: 4rem;
}
.seccionDosInvertido .textoCentrado {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.encabezadoContacto {
  background-image: url(../assets/sobrenosotrosfoto2.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.encabezadoContacto h1 {
  font-family: "Playfair Display", serif;
}

.seccionContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.5rem;
}
.seccionContacto .divSeccionContacto {
  text-align: center;
  margin-top: 1rem;
}
.seccionContacto .fotoSeccionContacto {
  width: 100%;
  height: auto;
}
.seccionContacto .seccionTitulos {
  text-align: center;
  margin-top: 1rem;
}

.parrafoSection {
  margin: 2rem;
  padding-left: 24rem;
  padding-right: 24rem;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.seccionForm {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 2rem;
}

.parrafoForm h2 {
  margin-bottom: 3rem;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 500px;
}
form .inputGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
}
form label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
form input, form textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(231, 231, 231);
  border: 2px solid #F0FAF1;
  outline: none;
}
form .formText {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
form .formText a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
form .btn {
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: #039;
  cursor: pointer;
}
form .btn:hover {
  background-color: #039;
}

@media (max-width: 576px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carouselSlide img {
    width: 100%;
    height: auto;
  }
  .bannerUnoDiv {
    padding: 3rem 2rem;
  }
  .bannerDos {
    flex-direction: column;
    padding: 0 1rem;
  }
  .bannerDos .bannerDosDiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .bannerDos .bannerDosDiv h2 {
    font-size: 25px;
    margin: 10px;
  }
  .bannerDos .bannerDosDiv p {
    padding-left: 80px;
    padding-right: 80px;
  }
  .bannerDos .fotoIndexSeccion2 {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .bannerTres {
    flex-direction: column;
    padding: 0 1rem 3rem 1rem;
  }
  .bannerTres img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .linksBanner {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  .linksBanner a {
    background-color: #039;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
  .bannerCuatro {
    padding: 1rem;
  }
  .bannerCuatro .row {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .bannerCuatro .row div h2 {
    font-size: 25px;
    margin-top: 30px;
    padding: 0 20px;
    text-align: center;
  }
  .bannerCuatro .row div p {
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
  .bannerCuatro .row img {
    width: 100%;
    padding: 0 2rem;
  }
  .divFooter {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }
  .divFooter div {
    margin-bottom: 2rem;
    text-align: center;
  }
  .divFooter iframe {
    width: 100%;
  }
  .divFooter .footer-bottom p {
    text-align: center;
    font-size: 0.9rem;
  }
  .seccionUno {
    justify-content: center;
    text-align: center;
  }
  .seccionDos div p {
    text-align: center;
  }
  .seccionDos img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .seccionDosInvertido .row {
    flex-direction: column-reverse;
  }
  .seccionDosInvertido div p {
    text-align: center;
  }
  .seccionDosInvertido img {
    width: 100%;
    height: auto;
  }
  .parrafoSection {
    margin: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .fotoSeccionContacto {
    width: 100%;
    height: auto;
    padding-top: 15px;
    margin-top: 15px;
  }
  .divSeccionContacto {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .encabezadoDestinos {
    background-size: cover;
    background-position: top;
    height: 50vh;
    padding: 10px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .encabezadoSobreTuViaje {
    background-size: cover;
    background-position: top;
    height: 50vh;
    padding: 10px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .encabezadoAcercaDeNosotros {
    background-size: cover;
    background-position: top;
    height: 50vh;
    padding: 10px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .encabezadoContacto {
    background-size: cover;
    background-position: top;
    height: 50vh;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
