.encabezadoAcercaDeNosotros{
    background-image: url(../assets/fotodeoficina.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-family: "Playfair Display", serif;
    }
}
.seccionUno {
    padding: 3rem;
    h2 {
        text-align: center;
    }
}
.seccionDos {
    display: flex;
    flex-direction: row;
    padding-right: 3rem;
    padding-left: 4rem;
    .textoCentrado {
        display: flex;
        align-items: center;
        padding: 3rem;
    }
}
.seccionDosInvertido {
    display: flex;
    flex-direction: row;
    padding-right: 3rem;
    padding-left: 4rem;
    .textoCentrado {
        display: flex;
        align-items: center;
        padding: 3rem;
    }
}