.encabezadoAcercaDeNosotros{
    background-image: url(../assets/fotodeoficina.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seccionUno{
    display: block;
    margin-bottom: 0px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 3rem;
    padding-bottom: 60px;
    padding-right: 24px;
    padding-bottom: 60px;
    padding-left: 24px;
    text-align: left;
}
.seccionDos{
    display: flex;
    flex-direction: row;
}